<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ServiceRouteTemplate" value="nrest/{0}"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=localhost;Initial Catalog=Danwu; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <unity>
    <container name="unity">
      <!--Service-->
      <register type="Danwu.ServiceContract.System.IUserService,Danwu.ServiceContract"
                mapTo="Danwu.Application.System.UserServiceImpl,Danwu.Application" />

      <!--Repository Context & Repository-->
      <register type="Infrastructure.Core.Repository.IRepositoryContext,Infrastructure.Core"
                mapTo="Infrastructure.Repository.EntityFramework.EntityFrameworkRepositoryContext,Infrastructure.Repository.EntityFramework" />

      <register type="Danwu.Domain.Repository.IUserRepository,Danwu.Domain"
                mapTo="Infrastructure.Repository.EntityFramework.UserRepository,Infrastructure.Repository.EntityFramework"/>

    </container>
  </unity>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService"></binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Danwu.ServicesRest.System.UserService">
        <endpoint address="http://api.danwu.com/System/UserService.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                  contract="Danwu.ServiceContract.System.IUserService" behaviorConfiguration="webHttp"></endpoint>
      </service>
    </services>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" 
                          maxBufferPoolSize="0" helpEnabled="true" automaticFormatSelectionEnabled="true"
                          faultExceptionEnabled="true">
          <readerQuotas maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" 
                        maxStringContentLength="2147483647" maxArrayLength="2147483647" 
                        maxDepth="2147483647" />
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
